@import 'common/styles/colors';
@import 'common/styles/mixins';

.summary-table {
  &__row {
    cursor: pointer;
  }

  &__caption {
    border: none;
  }

  &__head {
    position: sticky;
    z-index: 0;
    top: -1px;
    box-shadow: inset 0px -1px var(--main-border-color);
  }
}
