$Amber: #f9f9fa;
$White: #fff;
$Blue: #e6eaea;
$Aqua: #37ce8d;
$Orange: #ff7300;
$Red: #e13122;

$Gray10: #faefef;
$Gray20: #e8eaed;
$Gray30: #cbcdd0;
$Gray40: #8f9ba9;
$Gray60: #9aa0a6;
$Gray80: #adadad;

$Black: #000;
$Black40: #57585a;
$Black60: #434343;
$Black80: #292a2d;
$Black120: #202124;
$BlackOpacity05: rgba(0, 0, 0, 0.05);
