@font-face {
  font-family: 'apercu';
  font-weight: bold;
  src: local('ApercuPro-Medium'), url(fonts/apercu/ApercuPro-Bold.woff) format('woff');
}

@font-face {
  font-family: 'apercu';
  font-weight: normal;
  src: local('ApercuPro-Mono'), url(fonts/apercu/ApercuPro.woff) format('woff');
}
