@import 'common/styles/colors';

:root {
  --main-color: #{$Black};
  --main-background-color: #{$White};
  --main-border-color: #{$Blue};
  --background-hover-color: #{$BlackOpacity05};
  --background-secondary: #{$Amber};
  color-scheme: light;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
